/build/
/dist/
/nbproject/project.properties
/nbproject/private/
/BancaOnline-ejb/build/
/BancaOnline-ejb/dist/
/BancaOnline-ejb/nbproject/project.properties
/BancaOnline-ejb/nbproject/private/
/BancaOnline-war/build/
/BancaOnline-war/dist/
/BancaOnline-war/nbproject/project.properties
/BancaOnline-war/nbproject/private/
/static-war/nbproject/build/
/static-war/nbproject/dist/
/static-war/nbproject/project.properties
/static-war/nbproject/private/
/static-war/build/
/static-war/dist/