/build/
/dist/
/nbproject/private/
/BancaOnline-ejb/dist/
/BancaOnline-ejb/build/
/BancaOnline-ejb/nbproject/private/
/BancaOnline-war/nbproject/private/
/BancaOnline-war/dist/
/BancaOnline-war/build/