/build/
/dist/
/nbproject/private/
/BancaOnline-ejb/build/
/BancaOnline-ejb/dist/
/BancaOnline-ejb/nbproject/private/
/BancaOnline-war/build/
/BancaOnline-war/dist/
/BancaOnline-war/nbproject/private/
/static-war/nbproject/build/
/static-war/nbproject/dist/
/static-war/nbproject/private/
/static-war/build/
/static-war/dist/
/PruebasLocales/nbproject/private/
/PruebasLocales/build/
/JavierLuengoRomeroTwitter/nbproject/private/
/JavierLuengoRomeroTwitter/JavierLuengoRomeroTwitter-war/nbproject/private/
/JavierLuengoRomeroTwitter/JavierLuengoRomeroTwitter-ejb/nbproject/private/